*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --hue: 200;
    --saturation: 50%;
    --forground-color: hsl(var(--hue),var(--saturation),75%);
    --background-color: hsl(var(--hue),var(--saturation),20%);
}
body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
    height: 100vh;
}
.paddle {
    --position: 50;

    position: absolute;
    background-color: var(--forground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
}
.paddle.left{
    left: 1vw;
}
.paddle.right {
    right: 1vw;
}

#ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--forground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--forground-color);
}

.score > * {
    flex-grow: 1;
    /* flex-basis: 0; */
    padding: 0 4vh;
    margin: 2vh 0;
    opacity: 0.5;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--forground-color);
}

.card{
    height: 400px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: absolute;
     margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
            box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
h6{
    margin: 0;
}
.desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 16px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0;
}
button{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border: none;

}

button{
    width: 80%;
    padding: 15px 0;
    position: absolute;
    left: 10%;
    bottom: 20px;
    border-radius: 5px;
    outline: none;
}
